/*them thu vien font icon*/
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
body{
  background: #F5F5F5;
}
body a{
	text-decoration: none;
}
.fixed-menu-scoll-1 {
	transition-duration: 1s;
	/*text-align:center;*/
  background: #F5F5F5;
	position:fixed;
	top: 0px;	
  padding:5px 0px 0 10px;
  margin: 0 0 0px 50px;
  height: 50px;
	width:942px;
	}
.fixed-menu-scoll-2 {
	transition-duration: 1s;
	/*text-align:center;*/

	position:fixed;
	top: 10px;
	width:170px;
	}
.fixed-menu-scoll-3 {
  transition-duration: 1s;
  /*text-align:center;*/
  background: #F5F5F5;
  position:fixed;
  top: 50px; 
  padding:5px 0px 0 0px;
  margin: 0 0 0px 0px;
  height: 50px;
  width:940px;
  z-index: 999;
  }
.fixed-menu-filter .home-menu-filter {
	text-align: center;
	border-bottom: 1px solid #999;

	}
 .fixed-menu-filter .home-menu-filter li {
 	display: inline-block;

}
 .fixed-menu-filter .home-menu-filter li a {
  display: block;
  text-decoration: none;

}
.clear{    clear: both;}
/*clear chong chiem vung khi dung float gom clear 
left right both ( chong chiem 2 ben)*/
.jain_container{ margin:0px; padding:0px;}
.jain_container .medias{margin-top: 15px;}
.jain_container .medias ul{ padding:0px; margin:0px; }
.jain_container .medias ul li{  display:inline;  padding:7px 0px;}
/* .jain_container .medias i {    font-size: 18px;} */
.jain_container  .navbar-brand{ height:inherit;}
.jain_container .form-control{border-radius: 0px;border: 2px solid #adadad;}
.jain_container  .form-horizontal_x{
    margin-top: 10px;
}
.form-horizontal_x .col-sm-4 {    padding: 3px;}
.form-horizontal_x .col-sm-3 {    padding: 3px;}
.form-horizontal_x .col-sm-2 {    padding: 3px;}
.jain_container .navbar-default{
	position: absolute;    
	top: 20px;     
	background-color: rgba(255, 255, 255, 0.2);}
.jain_container .nav>li>a{
	padding: 15px 10px;
	color:#4c1f1e;
	font-family: RadikalW01_Black_bold;}
/*css cho cac thuoc tinh co ban cua boostrap*/
.jain_container .btn-default {
    color: #fff;
    background-color: #ff523f;
    border-color: #ff523f;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 15px;
    height: 33px;
}
.jain_container .navbar-nav{    margin-top: 12px;}
.jain_container .btn-default:hover{ background:#000; border-color:#000;}
.medias ul li a {
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    line-height: 30px;
    background: #4c1f1e;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.medias ul li a:hover {    background: #000;}
.jain_container .carousel-caption{    top: 38%;}

.jain_container .tagline h3	{
	font-family: RadikalW01-Light;
	font-size: 42px;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px #c29c78;
}
.jain_container .tagline h3  span{    
	font-family: RadikalW01-Bold; 
	font-size:60px; letter-spacing:3px;
}
/*tao css cho login */
.form-login-hover {
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 120px;
	
}
.form-login-hover p {
	text-align: center; 
	margin-top: 10px;
}

.form-login-hover:hover .header-login {
    opacity: 1;
    transform: translateY(-120px);
    -webkit-transform: translateY(-120px);
    -moz-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    -o-transform: translateY(-120px);
}

.form-login-hover img {
}

.form-login-hover .header-login{
    position: absolute;
    top: 100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
}
.form-login-hover .blur-login {            
    height: 250px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.form-login-hover .panel-heading{
	height: 40px;
	width: 100%;

}
.form-login-hover h3{
	text-align: center;
	margin-top: 0px;
	background-color:#428BCA; 
	color:white;
}
.form-login-hover .header-login-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 250px;
    text-align: center;
    top: -20px;
    width: 100%;
}
.form-login-hover .panel{
	height:160px;
}

.form-login-hover .panel-body .form-group-login {
	margin-top: -10px;
	height: 50px;
	width: 100%;
	font-size:  18px;
}
/*tao css cho icon muc lien he */
.nav.navbar-nav li a {
    color: white;
    font-size: 15px;
}
section #services {
	margin-top: 10px;
  text-align: center;
  transform: translatez(0);
}
section #services li {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0px;
  list-style: none;
}
section #services li div {
  width: 30px;
  height: 30px;
  color: black;
  font-size: 1.6em;
  text-align: center;
  line-height:30px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
/* slide anh va cap*/
.tagline hr{ 
	width:60%;     
	border-top: 3px solid #eee;}
.new_years_inner{
	background: rgba(255, 82, 63, 0.9);
	padding: 14px 0px;}
.new_years_inner h4 {
	font-size: 22px;
	font-family: RadikalW01-Bold;
	letter-spacing: 2px;
	text-transform: uppercase;}

.new_years_inner a {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: RadikalW01-Bold;
	    text-decoration: none;
}
.new_years {
    border: 1px solid #fff;
    width: 38%;
    margin: auto;
    padding: 10px;
}
/*css cho 2 nut chuyen slide*/
.carousel-control.left {    background: transparent; margin-left: 20px; }
.carousel-control.right{    background: transparent; margin-right: 10px; }
.carousel-control{ width:inherit;}
.container {
	padding: 25px 0 0 0;

} 
/*menu doc*/
.panel-group {
	margin-left: -50px;
}
/*icon menu doc*/
.glyphicon { margin-right:10px; }
.panel-group .fa { margin-right:10px; }
.panel-body-menu{ padding:0px; }
.panel-body-menu table tr td { padding-left: 15px }
.panel-body-menu .table {margin-bottom: 0px; }
 /* noi dng fiturea phan menu*/
#filter-buttons {
  text-align: center;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
#filter-buttons li {
  display: inline-block;
  margin-bottom: 0px;
}
#filter-buttons li a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 0px;
}
/*filter container phan noi dung cac thanh phan*/
#filter-container {
  width: 965px;
  margin-bottom: 60px;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: -5px;
}
#filter-container figure {
  background: #ffffff;
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
#filter-container figure .thumb {
  display: block;
  width: 100%;
  line-height: 0em;
  border-bottom: 2px solid #ccc;
}
#filter-container figure .thumb img {
  padding-top: 15px;
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#filter-container figure .thumb:hover img {
  opacity: 0.2;
}
#filter-container figure figcaption {
  margin: 18px 10px 20px 10px;
  text-align: center;
}
#filter-container figure figcaption a {
text-decoration:  none;
}
#filter-container figure figcaption .heading {
  margin-bottom: 13px;
  font-size: 32px;
  line-height: 1.2em;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#filter-container figure figcaption .readmore {
  display: block;
  margin: 10px 0px;
}
/* footer chan trang*/

#footer {
    border-top: 5px solid #CDB380;
	background: #033649 none repeat scroll 0% 0%;
	padding-top: 30px;
    margin-top: 60px;
    clear: both;
    color: #AAA;
    display: block;
}
#footer .widgettitle {
	margin: -40px 0 10px 0px;
	padding: 0px 0px 0px 30px;
	border-bottom: medium none;
}
#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
    margin: -5px 0 0px 0 ;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin: 0px;
}
#footer li span {
	margin-right:  10px;
}
#footer li a {
    color: #DDD;
    text-decoration: none;
}
#footer li a:hover {
    color: #A9A9A9;
    text-decoration: none;
}
#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 5px 0 5px 0;
} 	
#sub-floor p {
	margin: -25px 0 -20px 0;

}